# docker-compose.yml
version: '3.8'

services:
  kizuna:
    build:
      context: .
      dockerfile: Dockerfile
      
    image: kizuna
    container_name: kizuna
    restart: unless-stopped
    environment:
      - ANILIST_CLIENT_ID
      - ANILIST_CLIENT_SECRET
      - ANILIST_REDIRECT_URI
      - POCKETBASE_URL
      - HOST=0.0.0.0
    ports:
      - "3002:3000"
