# docker-compose.yml
version: '3.8'

services:
  kizuna:
    build:
      context: .
      dockerfile: Dockerfile
    image: kizuna
    container_name: kizuna
    restart: unless-stopped
    ports:
      - "3000:3000"   # Mapeia a porta 3000 do container para o host